<div class="dashboard-main-body">
    <app-breadcrumb [title]="'Portfolios'" [main-title]="'Portfolios'"></app-breadcrumb>


    <div class="card h-100 p-0 radius-12">
        <div class="card-body p-24">
            <!-- Card Top Start -->
            <div class="d-flex flex-wrap align-items-center justify-content-between mb-36">
                <div class="">
                    <span class="text-secondary-light fw-medium text-sm mb-4">PORTFOLIO VALUE</span>
                    <div class="d-flex align-items-center gap-8">
                        <h4 class="text-lg mb-0">$5,260</h4>
                        <span class="bg-success-focus text-success-600 px-16 py-6 rounded-pill fw-semibold text-xs">
                            <i class="ri-arrow-up-s-fill"></i>
                            1.37%
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-16">
                    <select class="form-select bg-base form-select-sm w-auto radius-8">
                        <option>All coins</option>
                        <option>Bitcoin</option>
                        <option>Litecoin</option>
                        <option>Dogecoin</option>
                    </select>
                    <select class="form-select bg-base form-select-sm w-auto radius-8">
                        <option>Yearly</option>
                        <option>Monthly</option>
                        <option>Weekly</option>
                        <option>Today</option>
                    </select>
                </div>
            </div>
            <!-- Card Top End -->

            <!-- Chart Start -->
            <div id="timeSeriesChart">
                <apx-chart [series]="timeSeriesChart.series" [chart]="timeSeriesChart.chart"
                    [xaxis]="timeSeriesChart.xaxis" [yaxis]="timeSeriesChart.yaxis" [fill]="timeSeriesChart.fill"
                    [grid]="timeSeriesChart.grid" [plotOptions]="timeSeriesChart.plotOptions"
                    [dataLabels]="timeSeriesChart.dataLabels" [responsive]="timeSeriesChart.responsive"
                    [stroke]="timeSeriesChart.stroke" [colors]="timeSeriesChart.colors"
                    [legend]="timeSeriesChart.legend" [labels]="timeSeriesChart.labels"
                    [tooltip]="timeSeriesChart.tooltip">
                </apx-chart>
            </div>
            <!-- Chart End -->

            <h6 class="text-xl mb-16">Your Assets</h6>
            <div class="table-responsive scroll-sm">
                <table class="table bordered-table sm-table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="d-flex align-items-center gap-10">
                                    <div class="form-check style-check d-flex align-items-center">
                                        <input class="form-check-input radius-4 border input-form-dark" type="checkbox"
                                            name="checkbox" id="selectAll">
                                    </div>
                                    S.L
                                </div>
                            </th>
                            <th scope="col">Aset</th>
                            <th scope="col">Your Assets</th>
                            <th scope="col">Price</th>
                            <th scope="col">Change %</th>
                            <th scope="col">Allocation</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let crypto of cryptoData">
                            <td>
                                <div class="d-flex align-items-center gap-10">
                                    <div class="form-check style-check d-flex align-items-center">
                                        <input class="form-check-input radius-4 border border-neutral-400"
                                            type="checkbox" name="checkbox" [id]="crypto.id">
                                    </div>
                                    {{ crypto.id }}
                                </div>
                            </td>
                            <td>
                                <a [routerLink]="'/marketplace-details'" class="d-flex align-items-center">
                                    <img [src]="crypto.image" alt=""
                                        class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                                    <span class="flex-grow-1 d-flex flex-column">
                                        <span class="text-md mb-0 fw-medium text-primary-light d-block">{{ crypto.name
                                            }}</span>
                                        <span class="text-xs mb-0 fw-normal text-secondary-light">{{ crypto.short
                                            }}</span>
                                    </span>
                                </a>
                            </td>
                            <td>{{ crypto.amount }} {{ crypto.short }}</td>
                            <td>{{ crypto.value | currency }}</td>
                            <td>
                                <span [ngClass]="{
                                        'bg-success-focus text-success-600': crypto.direction === 'up',
                                        'bg-danger-focus text-danger-600': crypto.direction === 'down'
                                      }" class="px-16 py-6 rounded-pill fw-semibold text-xs">
                                    <i [ngClass]="{
                                      'ri-arrow-up-s-fill': crypto.direction === 'up',
                                      'ri-arrow-down-s-fill': crypto.direction === 'down'
                                    }"></i>
                                    {{ crypto.trend }}%
                                </span>
                            </td>
                            <td>
                                <div class="progress w-100 bg-primary-50 rounded-pill h-8-px" role="progressbar"
                                    [attr.aria-valuenow]="crypto.progress" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-primary-600 rounded-pill"
                                        [style.width.%]="crypto.progress"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span class="py-4 px-16 text-primary-600 bg-primary-50 radius-4">Buy / Sell</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mt-24">
                <span>Showing 1 to 10 of 12 entries</span>
                <ul class="pagination d-flex flex-wrap align-items-center gap-2 justify-content-center">
                    <li class="page-item">
                        <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
                            href="javascript:void(0)"><iconify-icon icon="ep:d-arrow-left" class=""></iconify-icon></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md bg-primary-600 text-white"
                            href="javascript:void(0)">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px"
                            href="javascript:void(0)">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
                            href="javascript:void(0)">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
                            href="javascript:void(0)">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
                            href="javascript:void(0)">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link bg-neutral-200 text-secondary-light fw-semibold radius-8 border-0 d-flex align-items-center justify-content-center h-32-px w-32-px text-md"
                            href="javascript:void(0)"> <iconify-icon icon="ep:d-arrow-right" class=""></iconify-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>