<div class="dashboard-main-body">
    <app-breadcrumb [title]="title"></app-breadcrumb>

    <!-- user-list.component.html -->
    <div class="row gy-4">
        <div class="col-xxl-4 col-md-6" *ngFor="let user of users">
            <div class="card rounded-3 overflow-hidden h-100">
                <div class="card-body p-24">
                    <div class="d-flex align-items-start justify-content-between gap-2">
                        <div class="d-flex align-items-center gap-12 flex-wrap">
                            <div class="w-56-px h-56-px overflow-hidden flex-shrink-0">
                                <img [src]="user.img" alt="{{ user.name }}"
                                    class="w-100 h-100 object-fit-cover rounded-circle" />
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <h6 class="text-xl mb-0">{{ user.name }}</h6>
                                <span class="text-neutral-500">{{ user.role }}</span>
                            </div>
                        </div>
                        <ul class="d-flex align-items-center justify-content-end gap-1">
                            <li *ngFor="let star of [1,2,3,4,5]"
                                [ngClass]="{'text-warning-600': star <= user.rating, 'text-neutral-300': star > user.rating}"
                                class="text-xl d-flex line-height-1">
                                <i class="ri-star-fill"></i>
                            </li>
                        </ul>
                    </div>
                    <p class="mt-24 text-neutral-500 text-lg mb-0">{{ user.description }}</p>
                </div>
            </div>
        </div>
    </div>

</div>